.color-1 {
    background-color: rgb(244, 217, 222);
}

.color-2 {
    background-color: rgb(179, 205, 212);
}

.color-3 {
    background-color: rgb(210, 196, 225);
}

.amount-color {
    color: rgb(219, 21, 87);
}

.btn-color {
    background-color: rgb(230, 36, 101);
    color: white;
}